<!DOCTYPE html>
<html ng-app="documentApp">
<head>
	<title>Task_04_angular</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="controllers.js"></script>
</head>
<body ng-controller="documentListCtrl">
	<div class="main-menu"></div>
	<div class="content">
		<div class="left-column clearfix">
			<ul>
				<li ng-repeat="document in documents">
					<span class="document-name" ng-click="showList(document.id)">{{document.name}}</span>
					<ul class="fragments-{{document.id}}">
						<li ng-repeat="documentFragment in document.fragments">
							<span class="fragment-name" ng-click="setFragmentPosition(documentFragment.id)">
								{{documentFragment.name}}
							</span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="right-column clearfix">
			<div ng-repeat="fragment in fullDocument" class="fragmentId{{$index}}">
				<p class="fragment-name">{{fragment.name}}</p>
				<div class="fragments-body">{{fragment.content}}</div>
			</div>
		</div>
	</div>
</body>
</html>